<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>异步组件测试</title>
    <style>
        body {
            background: rgba(30, 30, 30, 1);
            color: wheat;
        }
    </style>
</head>

<body>
    <div id="app">挂载节点</div>
</body>
<script src="../../dist/vue.js"></script>
<script type="module">
   //异步工厂函数组件
   let asyncComp = Vue.component('async-example', function (resolve, reject) {
        setTimeout(function () {
            // 向 `resolve` 回调传递组件定义
            resolve({
                template: '<div>这是一个异步组件</div>'
            })
        }, 1000)
    })
    //异步Promise组件
    let promiseComp = Vue.component('async-promise', function (resolve, reject) {
        return new Promise(function (res, rej) {
            setTimeout(function () {
                res(resolve({
                    beforeCreate() {
                        console.log('异步组件beforeCreate');
                    },
                    created() {
                        console.log('异步组件created');
                    },
                    template: '<div>这是一个异步Promise组件</div>'
                }))
            }, 4000);
        });
    });

    window.app = new Vue({
        data() {
            return {
                msg: '根组件'
            }
        },
        beforeCreate() {
            console.log('根组件-beforeCreate');
        },
        created() {
            console.log('根组件->created');
        },
        mounted() {
            console.log('根组件->mounted');
        },
        render: function (createElement) {
            return createElement(promiseComp);
        },
        destroyed() {
            console.log('根组件destroyed');
        },
    }).$mount('#app');
</script>

</html>